<!DOCTYPE html>
<html ng-app="taskApp">
<head>
    <title>Task Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="TaskController">
    <h1>Task Management System</h1>
    <form ng-submit="addTask()">
        <input type="text" ng-model="newTask.title" placeholder="Title" required />
        <input type="text" ng-model="newTask.description" placeholder="Description" />
        <input type="date" ng-model="newTask.dueDate" required />
        <input type="checkbox" ng-model="newTask.isCompleted" /> Completed
        <button type="submit">Add Task</button>
    </form>
    <ul>
        <li ng-repeat="task in tasks">
            {{task.title}} - {{task.description}} - {{task.dueDate | date}} - {{task.isCompleted}}
            <button ng-click="deleteTask(task.id)">Delete</button>
            <button ng-click="editTask(task)">Edit</button>
        </li>
    </ul>
    <button ng-click="generateXmlReport()">Generate XML Report</button>
</body>
</html>
